* {
	border: none;
	border-radius: 0;
	font-family: "Adwaita Mono";
	font-size: 15px;
	font-weight: bold;

	min-height: 0;
	margin: 0;
	padding: 0;
}

window#waybar {
	margin: 10px 0;
	background: #232433;
}

#waybar>box {
	margin: 3px 0;
}

#custom-division {
	padding: 0 10px;
	font-weight: bold;
	color: #3e5380;
}

#workspaces {
	color: #95c561;
}

#workspaces button {
	transition: all 250ms ease-in-out;
	color: #95c561;
	padding: 0 5px;
	border-radius: 18px;
	margin: 0 1px;
}

#workspaces button.empty {
	color: #cfc9c2;
}

#workspaces button.active {
	transition: all 250ms ease-in-out;
	color: #7199ee;
}

#mpris {
	color: #ad8ee6;
}

#backlight {
	color: #d7a65f;
	padding: 0 5px 0 10px;
	border-bottom: 2px solid #d7a65f;
}

#clock {
	color: #a9b1d6;
	padding: 0 5px;
	border-bottom: 2px solid #a9b1d6;
}

#pulseaudio {
	color: #95c561;
	padding: 0 10px 0 0;
	border-bottom: 2px solid #95c561;
}

#window {
	color: white;
}

#cpu {
	color: #7AA2F7;
	padding: 0 10px;
	border-bottom: 2px solid #7AA2F7;
}

#memory {
	color: #FF9E64;
	padding: 0 10px;
	border-bottom: 2px solid #FF9E64;
}

#network {
	color: #c0caf5;
	padding: 0 10px;
	border-bottom: 2px solid #c0caf5;
}

#battery {
	color: #2ac3de;
	padding: 0 20px 0 10px;
	border-bottom: 2px solid #2ac3de;
}

#battery.charging {
	color: #9ece6a;
	border-bottom: 2px solid #9ece6a;
}

#battery.warning {
	color: #e0af68;
	border-bottom: 2px solid #e0af68;
}

#battery.critical:not(.charging) {
	color: #803d49;
	border-bottom: 2px solid #803d49;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
