* {
	border: none;
	border-radius: 0;
	font-family: "Adwaita Mono";
	font-size: 14px;

	min-height: 0;
	margin: 0;
	padding: 0;
}

window#waybar {
	background: #24283b;
}

#workspaces {
	color: #95c561;
}

#workspaces button {
	transition: all 250ms ease-in-out;
	color: #95c561;
	padding: 0 5px;
	border-radius: 18px;
	margin: 0 1px;
}

#workspaces button.empty {
	color: #cfc9c2;
}

#workspaces button.active {
	transition: all 250ms ease-in-out;
	color: #7199ee;
}

#backlight {
	color: #d7a65f;
	padding: 0 5px 0 10px;
}

#clock {
	color: #a485dd;
	padding: 0 5px;
}

#pulseaudio {
	color: #95c561;
	padding: 0 10px 0 0;
}
